* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato";
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper_full{
    margin: 0 auto;
    max-width: 1262px;
}

.section_title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    /* identical to box height */


    color: #102746;
    position: relative;
    padding-bottom: 10px;
}

.section_title::after{
    display: block;
    content: "";
    width: 253px;
    height: 3px;
    background: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}

/*header styles*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 55px;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
}

.header_item {
    margin-right: 82px;
    list-style-type: none;
}

.header_item:last-child{
    margin-right: 0;
}

.header_link {
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.header_link:hover, .header_link:active, .header_link:focus {
    opacity: 75%;
}

/* intro styles*/

.intro {
    background: url(/img/Hero.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 364px;
}

.intro_title {
    max-width: 619px;
    margin-bottom: 22px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;

    color: #FFFFFF;
}

.intro_text {
    max-width: 546px;
    margin-bottom: 54px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    color: #FFFFFF;
}

.search_form_wrap {
    border: none;
}

.search_form_info {
    display: flex;
    flex-wrap: wrap;
}

.search_form_field {
    border: none;
    background-color: transparent;
    background: url(/img/Oval.svg) no-repeat left 6px;
    background-size: 20px;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    width: 297px;
    padding-left: 43px;
    padding-bottom: 22px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */


    color: #FFFFFF;

}

.search_form_field::placeholder {
    color: white;
}

.search_form_submit {
    padding: 15px 39px;
    text-transform: uppercase;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    color: #FFFFFF;

    background: #1B7DFF;

    border: 0;
}

.search_form_submit:hover, .search_form_submit:active, .search_form_submit:focus {
    background: #0c5ac2;
}

/* Benefits styles*/

.benefits{
    margin-bottom: 131px;
}

.benefits_wrap{
    max-width: 1262px;
    background-color: white;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    margin: 0 auto;
    position: relative;
}

.benefits_title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    /* identical to box height */


    color: #102746;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);

    background-color: white;
    width: 100%;
}


.benefits_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
}

.benefits_card{
    grid-column: span 1;
    margin-bottom: 112px;
}

.benefits_card_pic{
    margin-bottom: 37px;
    max-width: 66px;
}

.benefits_card_thumb{
    display: block;
}

.benefits_card_title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */


    color: #000000;

    margin-bottom: 26px;

}

.benefits_card_desc{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
}

.benefits_card_more{
    text-transform: uppercase;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #006DFE;

    display: inline-block;
    padding-right: 59px;
    background: url(img/strelka.svg) no-repeat 95% center;
    transition: 0.2s;
}

.benefits_card_more:hover, .benefits_card_more:focus{
    background: url(img/strelka.svg) no-repeat right center;
}

/*Places*/

.places{
    margin-bottom: 131px;
}

.places_caption{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.places_title{
    margin-right: 15px;
}

.places_view{
    text-transform: uppercase;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #006DFE;

    display: inline-block;
    padding-right: 59px;
    background: url(img/strelka.svg) no-repeat right center;
    transition: 0.2s;
}

.places_view:hover, .places_view:focus{
    opacity: 0.6;
}

.places_cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

.places_card{
    position: relative;
    overflow: hidden;
}

.places_card:hover .places_card_pic{
     transform: scale(1.1);
}

.places_card::after{
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    z-index: 2;
}

.places_card_l{
    grid-column: span 3;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    height: 354px;
}

.places_card_m{
    grid-column: span 2;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    height: 283px;
}

.places_card_pic{
    width: 100%;
    transition: 1s;
}

.places_card_pic_l{
    height: 354px;
    object-fit: cover;
}

.places_card_pic_m{
    height: 283px;
    object-fit: cover;
}

.places_card_title{
    position: absolute;
    z-index: 5;
    bottom: 27px;
    left: 29px;


    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    /* identical to box height */


    color: #FFFFFF;
}

.places_card_link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

/*Tours*/

.tours{
    margin-bottom: 139px;
}

.tours_tour{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 77px 108px;
    align-items: center;
}

.tour_info{
    padding-left: 47px;
}

.tour_title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    /* identical to box height, or 133% */


    color: #102746;

    margin-bottom: 85px;
}

.tour_desc{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    color: #102746;

    margin-bottom: 58px;
    max-width: 519px;
}

.tour_link{
    text-transform: uppercase;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #006DFE;

    display: inline-block;
    padding-right: 59px;
    background: url(img/strelka.svg) no-repeat 95% center;
    transition: 0.2s;
}

.tour_link:hover, .tour_link:focus{
    background: url(img/strelka.svg) no-repeat right center;
}

/*Top*/

.top{
    margin-bottom: 86px;
}

.top_title{
    margin-bottom: 54px;
}

.top_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 57px;
}

.top_card{
    display: flex;
    flex-direction: column;

}

.top_card_pic{
    position: relative;
    margin-bottom: 45px;
}

.top_card_stats{
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    background: rgba(21, 24, 36, 0.6);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 16px 25px;
    justify-content: flex-end;
}

.top_card_title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */


    color: #FFFFFF;
    margin: 0 auto 0 0;
}

.top_card_likes{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #FFFFFF;

    padding-right: 20px;
    background: url(img/like.svg) no-repeat right;
    margin-right: 14px;
}

.top_card_comments{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #FFFFFF;

    padding-right: 23px;
    background: url(img/comment.svg) no-repeat right;
}

.top_card_desc{
    margin-bottom: 31px;
}

.top_card_button{
    background: #006DFE;
    padding: 12px 19px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
    border: 0;
    max-width: 118px;
    margin: auto 0 0 0;
}

.top_card_button:hover, .top_card_button:focus{
    background: #0c5ac2;
}